
/* .header { flex:block;
  text-align: center;
  padding-bottom: 500px;
} */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.product{
  margin-bottom: 30px;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.product-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container p {
  margin: 5px;
}

.product img{
  width: 263px;
}
.product button{
  background-color: rgb(0, 200, 255);
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  color: aliceblue;
}

form{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.product-form{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: azure;
}

.product-form > div{
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.product-form div label{
  margin-right: 10px;
  flex: 1;
}

.product-form div input{
  flex: 5;
}

.type-select{
  flex: 5;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}


.btn-backToTop{
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  font-size: 50px;
  background-color: rgb(170, 170, 170);
}

/* .footer{
  background-color: black;
  color: #F0F8FF
} */

total{
  display: flex;
  justify-content: space-between;
}
.total span:nth-child(1){
  font-size: 2rem;
  color: skyblue;
  font-weight: bold;
  letter-spacing: 2px;
}
.total span:nth-child(2){
  font-size: 2rem;
  color: green;
  font-weight: bold;
}
